.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


:root {
  --primary-color: #007bff;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

.light-mode {
  --primary-color: black;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

.dark-mode {
  --primary-color: #dc3545;
  --background-color: #343a40;
  --text-color: #f8f9fa;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
}

.app header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.app button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.app button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.app main {
  padding: 20px;
}


